**
!package.json
!package-lock.json
!turbo.json
!tsconfig.base.json
!apps/
!apps/web/
!apps/web/**
!packages/
!packages/protocol/
!packages/protocol/**
apps/web/.next
apps/web/.next/**
apps/web/node_modules
apps/web/node_modules/**
apps/web/.turbo
apps/web/.turbo/**
apps/web/tsconfig.tsbuildinfo
packages/protocol/.turbo
packages/protocol/.turbo/**
