{
    email admin@dstream.stream
}

dstream.stream, www.dstream.stream {
    # Next.js Web App
    reverse_proxy dStream_web:3000

    # HLS Streaming (MediaMTX)
    handle_path /stream/* {
        reverse_proxy dStream_ingest:8880
    }
}
