{
    email admin@dstream.stream
}

# HTTP (No Redirect)
http://dstream.stream, http://www.dstream.stream {
    reverse_proxy web:3000

    handle_path /stream/* {
        reverse_proxy mediamtx:8888
    }

    handle_path /whip/* {
        reverse_proxy mediamtx:8890
    }
}

# HTTPS (Default)
# HTTPS (Default)
dstream.stream, www.dstream.stream {
    reverse_proxy web:3000

    handle_path /stream/* {
        reverse_proxy mediamtx:8880
    }

    handle_path /whip/* {
        reverse_proxy mediamtx:8881
    }
}


