{
  email admin@${DSTREAM_DOMAIN:-dstream.stream}
}

${DSTREAM_DOMAIN:-dstream.stream}, www.${DSTREAM_DOMAIN:-dstream.stream} {
  handle /relay* {
    uri strip_prefix /relay
    reverse_proxy dstream-relay-1:8080
  }
  handle {
    reverse_proxy dstream-web-1:5656
  }
}

